/**************************
		MAIN COLORS
	Wood color:		#966F33;
	Wood light:		#E6BF83;

***************************/

/**************************
		BROWSER RESET
***************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/**************************
		GENERAL
***************************/
body {
	font-family: "Lato","Arial", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/**************************
	REUSABLE COMPONENTS
***************************/

/*--------HEADINGS---------*/

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #555;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #D91E18;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/*--------PARAGRAPHS---------*/

.paragraphStyle {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

/**************************
	HEADER CSS
***************************/

/*--------Nav CSS---------*/

nav {
	height: 70px;
	padding-top: 0px !important;
	transition-property: all;
    transition-duration: .5s;
}

.navbar-brand {
	font-weight: 800;
	font-size: 25px;
	color: #fff;
	line-height: 1.1em;
	display: inline-block;
	position: absolute;
	top: 0;
	padding-top: 4px;
}
.navbar-brand:hover {
	color: darkblue !important;
	transition-property: all;
    transition-duration: 1s;
}
.navbar-right li {
	margin-top: 10px;
}
.navbar-nav li {
	margin-top: 10px;
}
#ulInner {
	width: 450px;
	margin-right: auto !important;
	margin-left: auto !important;
}
.aNav {
	color: #fff;
	font-weight: 500 !important;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 15px;
}
.aNav:hover {
	color: #fff !important;
	background-color: lightgray !important;
	transition-property: all;
    transition-duration: 1s;
}
#socFlagsWrap {
	float: right;
}
.aFlag {
	font-weight: 600 !important;
}
.aFlag:hover {
	transition-property: all;
    transition-duration: 1s;
}
.liSocial {
	padding: 0px !important;
	font-size: 30px !important;
	margin-left: 5px;
	margin-top: 15px !important;
	color: #696969;
}
i:hover {
	color: #fff;
	background-color: #000;
	transition-property: all;
    transition-duration: 1s;
}
.aFlag {
	padding-left: 5px !important;
}
/*li a:link,
li a:visited {
	color: #fff !important;
}

li a:hover,
li a:active {
	color:  !important;
}*/
.imgFlag {
	height: 24px;
	margin-top: -9px;
	width: auto;
	margin-right: 5px;
}
#flagRus {
	margin-left: 5px;
}
.icon-bar {
	border: 2px solid #fff;
}

/*--------Nav CSS mediaqueries---------*/

@media screen and (max-width: 992px) {
	.aNav {
		font-size: 13px;
	}
}

@media screen and (max-width: 768px) {
    .navbar-header {
		height: 65px !important;
	}
	.navbar-right li {
		margin-top: 5px;
	}
	.navbar-right li a {
		padding-top: 0px !important;
	}
	.liSocial, .aFlag {
		margin-left: 10px !important;
	}
	.liSocial {
		display: inline-block !important;
		margin-top: 0px !important;
		margin-left: 5px !important;
	}
	#ulInner {
		width: 100%;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	#ulInner ul li {
		margin-top: 0px !important;
	}
	#ulInner ul li a {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.imgFlag {
		display: block !important;
		margin-top: 10px;
		margin-left: 0px !important;
	}
	#socFlagsWrap {
		float: left;
	}
}

@media screen and (max-width: 330px) {
	.flagSecond a {
		padding-left: 0px !important;
	}
}

/**************************
	HOME CSS
***************************/

#firstSlide {
	background-image: url("images/tijana-markovic-1.jpg");
	height: 100vh;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 15%;
}

#secondSlide {
	background-image: url("images/tijana-markovic-2.jpg");
	height: 100vh;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 20%;
}

#thirdSlide {
	background-image: url("images/tijana-markovic-3.jpg");
	height: 100vh;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 10%;
}

/*--------carousel CSS---------*/

.indicatorLI {
	border-radius: 0px !important;
	width: 40px !important;
	height: 5px !important;
	background-color: lightgray !important;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  NEW IN BOOTSRAP 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/**************************
	THEATRE CSS
***************************/

#theatre {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

#theatre h2 {
	display: inline-block;
}

/*--------accordion CSS---------*/

.panel-body {
	color: #fff;
	font-weight: 400;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/cinema.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 30%;
}
.panel-heading {
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/theatre1.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 30%;
	height: 45px;
	color: #fff !important;
}
.panelMargin {
	margin-top: 10px !important;
}
.tab-pane {
	padding-top: 10px;
}
#accordionOne {
	color: #ff4000 !important;
}
.accordionAnchor:focus {
	text-decoration: none;
	color: #ff4000;
}
.accordionAnchor:hover {
	color: #ff4000 !important;
	transition-property: all;
    transition-duration: 1s;
    text-decoration: none;
}

/*--------accordion CSS END---------*/

.columnTheatre {
	border-right: 1px solid #F0F0F0;
	padding-right: 40px;
}

.columnTheatreImg {
	padding-left: 40px;
}

#theatreImg {
	width: 100%;
	height: auto;
}

/*--------THEATRE CSS mediaqueries---------*/

@media screen and (max-width: 1200px) {
	.panel-body {
		font-size: 17px !important;
	}
	.panelMargin {
		margin-top: 5px !important;
	}
	.panel-heading {
		height: 38px;
	}
}

@media screen and (max-width: 991px) {
	.columnTheatre {
		border-right: none;
		padding-right: 15px;
	}

	.columnTheatreImg {
		padding-left: 15px;
	}
}

@media screen and (max-width: 460px) {
	.panel-body {
		font-size: 16px !important;
	}
}